@import '../../styles/colors';

.search-form {
	display: flex;
	z-index: 1;

	&__input {
		color: $white;
		margin-right: 5px;
		border: 2px solid $gray;
		border-radius: 5px;
		padding: 5px 10px;
		background-color: rgba($color: #6691e0, $alpha: 0.1);
	}
	&__button {
		background: #6691e0;
		border: 2px solid $gray;
		padding: 4px;
		border-radius: 5px;

		&:hover {
			border-color: #6691e0;
		}
	}
}
