@import './colors';
@import './breakpoints.scss';
body {
	margin: 10px;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	background: linear-gradient(to bottom, rgb(43, 50, 178) 0%, rgb(20, 136, 204) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: $white;
	font-family: 'Open Sans', sans-serif;

	.today-weather {
		width: 100%;
		display: flex;
		align-items: center;
	}
	.future-weather-container {
		margin-top: 50px;
		height: 300px;
	}
	.loader {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 300px;

		&__icon {
			width: 200px;
		}
	}
}
